.footer__wrap {
  /*@media (max-width: 1025px) {
  	padding: 0 5vw;
  }*/
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.7)), to(rgb(255, 255, 255)));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgb(255, 255, 255));
  width: 100%;
  padding: 5vw 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 770px) {
  .footer__wrap {
    padding: 4vw 2vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__wrap_left, .footer__wrap_right {
  margin: 1vw 0;
  font-family: "ExtraBold";
  font-size: var(--fontSize);
  position: relative;
}
.footer__wrap_left {
  text-transform: uppercase;
  color: blue;
}