.bigblock__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 400px) {
  .bigblock__tel {
    height: 100vw;
  }
}
.bigblock__tel_info {
  position: absolute;
  left: 2vw;
  top: 2vw;
  font-family: "SemiBold";
  font-size: 1.5vw;
}
@media (max-width: 770px) {
  .bigblock__tel_info {
    font-size: 2.2vw;
  }
}
@media (max-width: 600px) {
  .bigblock__tel_info {
    font-size: 3vw;
    left: 3vw;
    top: 3vw;
  }
}
@media (max-width: 400px) {
  .bigblock__tel_info {
    font-size: 5vw;
    left: 5vw;
    top: 5vw;
  }
}
.bigblock__tel_name {
  position: absolute;
  right: 4vw;
  top: 15vw;
  font-family: "SemiBold";
  font-size: 2vw;
}
@media (max-width: 1025px) {
  .bigblock__tel_name {
    font-size: 2.5vw;
    top: 16vw;
  }
}
@media (max-width: 770px) {
  .bigblock__tel_name {
    font-size: 3vw;
    top: 18vw;
  }
}
@media (max-width: 600px) {
  .bigblock__tel_name {
    font-size: 5vw;
    top: 37vw;
  }
}
@media (max-width: 400px) {
  .bigblock__tel_name {
    font-size: 8vw;
    top: 82vw;
  }
}
.bigblock__title_tel {
  font-size: 4vw;
}
@media (max-width: 1025px) {
  .bigblock__title_tel {
    font-size: 5vw;
  }
}
@media (max-width: 770px) {
  .bigblock__title_tel {
    font-size: 5.5vw;
  }
}
@media (max-width: 600px) {
  .bigblock__title_tel {
    font-size: 10vw;
  }
}
@media (max-width: 400px) {
  .bigblock__title_tel {
    font-size: 11vw;
  }
}
.bigblock__title_tel a {
  color: #000;
}
.bigblock__title_tel a:hover {
  color: red;
}